body {
background:url(images/bg-master.jpg) repeat-x fixed left top #253813;
margin:0px;
padding:0px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color: #000000;
}
p{
margin:0px;
padding:0 0 5px 0;
line-height:17px;
text-align:justify;
}
pre{
font-family:Arial, Helvetica, sans-serif;
font-size:17px;
color: #000000;
}

h1{
color:#000000;
font-size:16px;
font-weight:bold;
margin:0px;
padding:5px 0 5px 0;
}
.box_content h3{
margin:0px;
padding:0 0 5px 0;
line-height:17px;
text-align:justify;
background-color:#BCF0EE;

}


#main_container{
width:900px;
height:auto;
margin:auto;
background-color:#fff;
}
.header{
width:900px;
height:114px;
margin:auto;
background:url(images/header_bg.gif) repeat-x;
}
.right_header{
float:right;
width:550px;
}
#logo{
padding:30px 0 0 20px;
float:left;
}

#menu{
width:612px;
height:35px;
float:right;
padding:40px 0 0 0;
}
#menu ul{
list-style:none;padding:0px;margin:0px; font-weight:bold;
}
#menu ul li{
list-style:none;display:block;position: relative;float:left;width:96px;height:35px;padding:0px;line-height:35px;font-size:13px;margin:0 3px 0 3px;
}
#menu li ul {display: none;}
#menu ul li a{
display: block;white-space: nowrap;height:35px; width:96px;float:left;color:#6c7b83;text-decoration:none;padding:padding: 5px 10px 5px 10px;text-align:center; background:url(images/menu_bt.gif) no-repeat center;
}
#menu ul li a:hover{
color: #68C2EF;

}
  #menu li:hover ul {display: block;position: absolute;}
  #menu li:hover li {float: none;}
  #menu li:hover a {background:url(images/menu_bt.gif) no-repeat center;}

.middle_box_content{
padding:30px 0 0 20px;
}
.top_menu{
width:285px;
float:right;
}
a.login {
width:49px;
height:35px;
display:block;
background:url(images/login.gif) no-repeat center;
line-height:35px;
color:#a6c4d4;
font-size:10px;
font-weight:bold;
text-decoration:none;
padding:0 0 0 40px;
float:left;
margin:0 3px 0 3px;
}
a.sign_up {
width:49px;
height:35px;
display:block;
background:url(images/sign_up.gif) no-repeat center;
line-height:35px;
color:#a6c4d4;
font-size:10px;
font-weight:bold;
text-decoration:none;
padding:0 0 0 40px;
float:left;
margin:0 3px 0 3px;
}
.pattern_bg{
width:900px;
height:162px;
clear:both;
margin:auto;
background:url(images/pattern_bg.gif) no-repeat center;
}
#main_content{
width:885px;
height: auto;
margin: auto;
padding:0 0 0 0px;

}
.clear{
clear:both;
}
.box_content{
width:865px;
height:auto;

margin:10px 10px 10px 10px;
background-color:#FFFFFF;
}



#footer{
width:900px;
height:45px;
color:#508aa1;
background-color:#2E5D76;
}

.center_footer{
color:#c3ced4;
font-size:12px;
font-weight:bold;
width:550px;
padding:15px;
text-align:center;
float:left;
margin-left:155px;
}
table{width:865px;} 


#Button1 {

Height: 30px;
Width: 180px;
background-color: #820404;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #FFFFFF;
border-radius:15px;


}

#Button1:hover {

background-color: #68A153;

}
#Button2 {

Height: 30px;
Width: 50px;
background-color: #820404;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #FFFFFF;
border-radius:15px;


}
#Button3:hover {

background-color: #68A153;
}
#Button3 {

Height: 40px;
Width: 60px;
background-color: #820404;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: #FFFFFF;
border-radius:15px;


}
#Button2:hover {

background-color: #68A153;
}

.small_input{
width:400px;height:50px;
}
td{

background:url(images/lightbox-2.png) repeat-x scroll left bottom #FAFEF5;

}
